mat-form-field{
    width: 100% !important;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 1vw;
}
.parrafo{
    line-height:1.2em !important;
}

.item{
    border: 2px solid rgba(146, 144, 144, 0.747);
    padding:10px;
    margin-bottom:10px ;
}
.spiner{
    margin: 0 auto;

}
.flecha{
    appearance:none;
}
.dataRepeater{
    height: 500px !important;
    overflow-y:visible;
    margin-bottom: 100px;
}
.buttonDEL{
    /* text-align: center; */
    margin-left:42% !important ;
}
.conteiner-custom{
    /* background-color: red; */
    width: 100%;
}

