<!-- dialog-box.component.html -->

<div mat-dialog-content>
    <h1 mat-dialog-title class="text-center"> <strong>{{action}} {{data.type}}</strong></h1>
    <ng-container >
      <ng-container *ngIf="action!='Borrar';else deleteview" >
        <form *ngIf="data.type=='usuario'" [formGroup]="formUsuario"  (ngSubmit)="SubmitUser()" class="example-form">
          <mat-form-field class="">
            <input  [(ngModel)]="local_data.nombre" formControlName="name" required  placeholder="Nombre" type="text" matInput >
            <mat-error *ngIf="checkError('name', 'required')">El nombre es requerido</mat-error>
            <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error>
            <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error>
          </mat-form-field>
          <mat-form-field >
              <input required placeholder="Apellido" [(ngModel)]="local_data.apellido" formControlName="apellido" matInput >
              <mat-error *ngIf="checkError('apellido', 'required')">El apellido es requerido</mat-error>
              <mat-error *ngIf="checkError('apellido', 'minlength')">El apellido tiene que ser de mas de 3 caractares</mat-error>
              <mat-error *ngIf="checkError('apellido', 'maxlength')">El apellido tiene que ser de menos de 30 caractares</mat-error>
            </mat-form-field>
          <mat-form-field >
              <input formControlName="NUMDNI" required  [(ngModel)]="local_data.DNI" placeholder="Número DNI" type="number"   matInput   >
              <mat-error *ngIf="checkError('NUMDNI', 'required')">Ingrese un DNI valido</mat-error>
              <mat-error *ngIf="checkError('NUMDNI', 'min')">Ingrese un DNI valido</mat-error>
              <mat-error *ngIf="checkError('NUMDNI', 'max')">Ingrese un DNI valido</mat-error>
            </mat-form-field>
            <mat-form-field >
              <mat-select formControlName="tipo" [(ngModel)]="local_data.tipo" required placeholder="Tipo" >
                  <mat-option value='Admin'>
                    Admin
                  </mat-option>
                  <mat-option value='Profesor'>
                      Profesor
                    </mat-option>
                    <mat-option value='Encargado'>
                      Encargado
                    </mat-option>
                </mat-select>  
                <mat-error *ngIf="checkError('tipo', 'required')">Seleccione un tipo</mat-error>
            </mat-form-field>
          </form>
          <!-- <form *ngIf="data.type=='usuario'" [formGroup]="formPeriodo"  (ngSubmit)="SubmitUser()" class="example-form">
            <mat-form-field class="">
              <input  [(ngModel)]="local_data.nombre" formControlName="name" required  placeholder="Nombre" type="text" matInput >
              <mat-error *ngIf="checkError('name', 'required')">El nombre es requerido</mat-error>
              <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error>
              <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error>
            </mat-form-field>
            </form> -->
            <!-- <form [formGroup]="form">
              <input formControlName="name"/>
                
                <div formArrayName="addresses" *ngFor="let address of form.get('addresses').controls; index as i">
                  <div formGroupName="{{i}}">
                    <input formControlName="address"/>
                  </div>
                </div>
              </form> -->

            <!-- <form *ngIf="data.type=='team'" [formGroup]="formteam"  (ngSubmit)="SubmitUser()" class="example-form">
            
            </form> -->
            <!-- <div >
              <mat-spinner class="spiner"></mat-spinner>
            </div> -->
            <div *ngIf="data.type=='team'"  >
              <div class="dataRepeater" *ngIf=" ContentLoaded   ;else loading">
                <div   class="item " *ngFor="let item of Teams; let i = index"  >
                  
                  <p>{{item.status}}</p>
              
                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <input  [(ngModel)]="item.NombreMiembro"  required  placeholder="Nombre" type="text" matInput >
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <input  [(ngModel)]="item.ApellidoMiembro" required  placeholder="Apellido" type="text" matInput >
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <mat-form-field>
                          <input  [(ngModel)]="item.DNI_miembro" required  placeholder="DNI" type="text" matInput >
                        </mat-form-field>
                      </div>
                      <div class="col">
                        <mat-form-field>
                          <input  [(ngModel)]="item.PuestoMiembro"  required  placeholder="Puesto" type="text" matInput >
                        </mat-form-field>
                      </div>
                    </div>
                  
                  <div class="conteiner-custom">
                    <!-- <button " mat-icon-button color="warn"  >
                      <mat-icon >delete</mat-icon>
                      
                    </button> -->
                    <button class="buttonDEL"  mat-fab color="warn" (click)="borrarMember(i)" aria-label="Example icon button with a delete icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <!-- <mat-spinner class="spiner"></mat-spinner> -->
                  </div>
                  
                  </div>
                  <button mat-stroked-button color="primary" (click)="agregarMember()">Agragar otro Miembro</button>
                  <div   mat-dialog-actions class="boton">
                    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
                    <!-- <button type="submit"  [disabled]="!isValid" mat-flat-button color="primary" (click)="Submit()">{{action}}</button> -->
                    <button   (click)="SubmitTeam()"  mat-flat-button color="primary">{{action}}</button>
                  
                  
                  </div>
              </div>
            </div>
            <ng-template #loading>
              <div >
                <mat-spinner class="spiner"></mat-spinner>
              </div>
            </ng-template>

            <form *ngIf="data.type=='cargaHoras' " [formGroup]="formHoras"  (ngSubmit)="SubmitHoras()" class="example-form">
                <mat-form-field >
                  <mat-select formControlName="periodo" [(ngModel)]="local_data.periodo" required placeholder="Periodo" >
                      <mat-option *ngFor="let periodo of periodos" value={{periodo.id_firebase}}${{periodo.fecha_INI_formated}}-{{periodo.fecha_FIN_formated}}>
                       {{periodo.fecha_INI_formated}}<b> - </b>  {{periodo.fecha_FIN_formated}}
                      </mat-option>
                    </mat-select>  
                    <mat-error *ngIf="checkError('periodo', 'required')">Seleccione un periodo</mat-error>
                </mat-form-field>
                <mat-form-field   >
                  <mat-select formControlName="materia"  (selectionChange)="verificarProfesional()" [(ngModel)]="local_data.materia" required placeholder="Seleccione una materia" >
                      <mat-option *ngFor="let materia of materiasByprofesional" value={{materia.nombre}}-{{materia.encargadoDNI}}-{{materia.encargadoNya}}>
                       {{materia.nombre}}
                      </mat-option>
                    </mat-select>  
                    <mat-error *ngIf="checkError('periodo', 'required')">Seleccione una materia</mat-error>
                </mat-form-field>
                <mat-form-field >
                 
                  <mat-select [disabled]="ProfesionalDisabled"  formControlName="profesional"  (selectionChange)="prefesionaSelected()" required placeholder="Profesional" >
                    <div *ngFor="let profesional of  profesionales">
                      <mat-option   value={{profesional.DNI_miembro}}-{{profesional.PuestoMiembro}}-{{profesional.NombreMiembro}}${{profesional.ApellidoMiembro}}>
                        {{profesional.NombreMiembro}} {{profesional.ApellidoMiembro}}
                      </mat-option>
                    </div>
                    
                    </mat-select>  
                    <mat-error *ngIf="checkError('profesional', 'required')">Seleccione un Profesional</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <mat-select disabled="true"   [(ngModel)]="local_data.profesional"  placeholder="{{cargo}}"  >
                    </mat-select>  
                </mat-form-field>
                <mat-form-field >
                  <mat-select disabled="true"   [(ngModel)]="local_data.encargadoDNI"  placeholder="{{encargado}}"  >
                  </mat-select>  
              </mat-form-field>
              <mat-form-field >
                <input formControlName="cantHoras" required  [(ngModel)]="local_data.cantHoras" placeholder="Cantidad de horas" type="number"  matInput   >
                <mat-error *ngIf="checkError('cantHoras', 'required')">Ingrese la cantidad de horas</mat-error>
                
              </mat-form-field>
           
              
                
                
                
            </form>
              
          <form *ngIf="data.type=='materia' " [formGroup]="formMateria"  (ngSubmit)="SubmitMateria()" class="example-form">
            <mat-form-field >
              <input  [(ngModel)]="local_data.nombre" formControlName="name" required  placeholder="Nombre" type="text" matInput >
              <mat-error *ngIf="checkError('name', 'required')">El nombre es requerido</mat-error>
              <!-- <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error>
              <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error> -->
            </mat-form-field>
              <mat-form-field >
                <mat-select formControlName="carrera" [(ngModel)]="local_data.carrera" required placeholder="Carrera" >
                    <mat-option *ngFor="let carrera of Carreras" value={{carrera.nombre}}>
                      {{carrera.nombre}}
                    </mat-option>
                  </mat-select>  
                  <mat-error *ngIf="checkError('carrera', 'required')">Seleccione una carrera</mat-error>
              </mat-form-field>
              <mat-form-field >
                <mat-select formControlName="profesor" [(ngModel)]="local_data.profesorDNI" required placeholder="Profesor" >
                  <div *ngFor="let profesor of Users">
                    <mat-option *ngIf="profesor.tipo=='Profesor'"  value={{profesor.DNI}}>
                      {{profesor.nombre}} {{profesor.apellido}}
                    </mat-option>
                  </div>
                  
                  </mat-select>  
                  <mat-error *ngIf="checkError('profesor', 'required')">Seleccione un profesor</mat-error>
              </mat-form-field>
              <mat-form-field >
                <mat-select formControlName="encargado" [(ngModel)]="local_data.encargadoDNI" required placeholder="Encargado" >
                  <div *ngFor="let encargado of Users">
                    <mat-option *ngIf="encargado.tipo=='Encargado'"  value={{encargado.DNI}}>
                      {{encargado.nombre}} {{encargado.apellido}}
                    </mat-option>
                  </div>
                  </mat-select>  
                  <mat-error *ngIf="checkError('encargado', 'required')">Seleccione un encargado</mat-error>
              </mat-form-field>
              <mat-form-field >
                <input  [(ngModel)]="local_data.cantHoras" formControlName="cantHoras" required  placeholder="Cantidad Horas" type="number" matInput >
                <mat-error *ngIf="checkError('name', 'required')">Ingrese una cantidad de horas</mat-error>
                <!-- <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error>
                <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error> -->
              </mat-form-field>
          </form>
          <form *ngIf="data.type=='carrera'" [formGroup]="formCarrera"  (ngSubmit)="SubmitFacultad()" class="example-form">
            <mat-form-field class="">
              <input  [(ngModel)]="local_data.nombre" formControlName="name" required  placeholder="Nombre" type="text" matInput >
              <mat-error *ngIf="checkError('name', 'required')">El nombre es requerido</mat-error>
              <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error>
              <!-- <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error> -->
            </mat-form-field>
            <mat-form-field >
                <input  placeholder="Sigla" [(ngModel)]="local_data.sigla" formControlName="sigla" matInput >
            </mat-form-field>
            </form>
            <form *ngIf="data.type=='periodo'" [formGroup]="formPeriodo"  (ngSubmit)="SubmitFacultad()" class="example-form">
                <mat-form-field class="">
                  <!-- <mat-error *ngIf="checkError('fecha_ini', 'required')">Selecciones una fecha de inicio para el periodo</mat-error>  -->
                  <mat-label>Seleccion el rango del periodo</mat-label>
                  <mat-date-range-input [rangePicker]="picker" required >
                    <input matStartDate  [(ngModel)]="local_data.fecha_INI" formControlName="fecha_ini" required  placeholder="Fecha de inicio" type="text" matInput>
                    <input matEndDate  [(ngModel)]="local_data.fecha_FIN" formControlName="fecha_fn" required  placeholder="Fecha de fin" type="text" matInput>
                  
                    <mat-error *ngIf="checkError('fecha_ini', 'required')">Selecciones una fecha de inicio para el periodo</mat-error>
                    <mat-error *ngIf="checkError('fecha_fn', 'required')">Selecciones una fecha de fin para el periodo</mat-error>
                  </mat-date-range-input>
                  <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>             
                  
                  <!-- <mat-error *ngIf="checkError('name', 'minlength')">El nombre tiene que ser de mas de 3 caractares</mat-error> -->
                  <!-- <mat-error *ngIf="checkError('name', 'maxlength')">El nombre tiene que ser de menos de 30 caractares</mat-error> -->
                </mat-form-field>
                <mat-form-field >
                  <input  placeholder="Cantidad de Semanas" type="number" [(ngModel)]="local_data.Cant_Semanas" formControlName="Cant_Semanas" matInput >
                  <mat-error *ngIf="checkError('Cant_Semanas', 'minlength')">Ingrese la cantidad de semanas del periodo</mat-error>
                </mat-form-field>
              </form>
      </ng-container>
      <ng-template #deleteview>
        <div *ngIf="data.type=='usuario'"  class="fs-5 parrafo">
          ¿Seguro quiere eliminar al usuario con DNI: <b>{{local_data.DNI}}</b>? una vez eliminado no es posible recuperarlo.
        </div> 
        <div *ngIf="data.type=='carrera'"  class="fs-5 parrafo">
          ¿Seguro quiere eliminar la carrera <b>{{local_data.nombre}}</b>? una vez eliminada no es posible recuperarla.
        </div> 
        <div *ngIf="data.type=='materia'"  class="fs-5 parrafo">
          ¿Seguro quiere eliminar la materia <b>{{local_data.nombre}}</b>? una vez eliminada no es posible recuperarla.
        </div> 
        <div *ngIf="data.type=='periodo'"  class="fs-5 parrafo">
          ¿Seguro quiere eliminar el periodo que va desde <b>{{local_data.fecha_INI_formated}}</b> hasta <b>{{local_data.fecha_FIN_formated}}</b> ? una vez eliminado no es posible recuperarla.
        </div> 
      </ng-template>
      
  </ng-container>
  </div>
  <div *ngIf="data.type!='team'"   mat-dialog-actions class="boton">
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
    <!-- <button type="submit"  [disabled]="!isValid" mat-flat-button color="primary" (click)="Submit()">{{action}}</button> -->
    <button type="submit" *ngIf="data.type=='usuario'"   [disabled]="!formUsuario.valid" (click)="SubmitUser()"  mat-flat-button color="primary">{{action}}</button>
    <button type="submit" *ngIf="data.type=='carrera'"   [disabled]="!formCarrera.valid" (click)="SubmitFacultad()"  mat-flat-button color="primary">{{action}}</button>
    <button type="submit" *ngIf="data.type=='materia'"   [disabled]="!formMateria.valid" (click)="SubmitMateria()"  mat-flat-button color="primary">{{action}}</button>
    <button type="submit" *ngIf="data.type=='periodo'"   [disabled]="!formPeriodo.valid" (click)="SubmitPeriodo()"  mat-flat-button color="primary">{{action}}</button>
    <button type="submit" *ngIf="data.type=='cargaHoras'"   [disabled]="!formHoras.valid" (click)="SubmitHoras()"  mat-flat-button color="primary">{{action}}</button>
    
  
  </div>
  