/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.snackBar{
     background-color: rgb(244, 67, 54);
     /* background-color: white; */
    color: white;
    font-weight: 500;
    font-size: x-large;
    align-items: center;
    left: 50px;
    
}
.mat-simple-snackbar-action {
    color: white !important;
}
