.big-container{
    
    height: 100% !important;
    
}
.content{
    /* background-color: red; */
}
.mediumContainer{
    /* background-color: blue !important; */
    height: 100% !important;
    width: 100%;
}
.side{
  width: 200px;
  text-align: center;
}
.item{
    /* background-color: red; */
}