
<div *ngIf="usuario!=null" class="table big-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button  *ngIf="UserFlag" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <!-- <h1 class="example-app-name">FCEE</h1> -->
      <img src="../../../../assets/logo.png" class="logo"alt="">
      <div *ngIf="UserFlag" class="name-container"> <h1 (click)="openDialog('Editar',{})" class="user">{{usuario}} {{apellido}} ({{tipo}})</h1> </div>
      
    </mat-toolbar>
    <mat-sidenav-container   class="mediumContainer">
      <mat-sidenav   class="side" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list *ngIf="UserFlag" class="side-nav">
          <a mat-list-item routerLink="/dashboard">Inicio</a>
        <a *ngIf="tipo=='Admin'" mat-list-item routerLink="/usuarios" class="item">Usuarios</a>
          <a *ngIf="tipo=='Admin' " mat-list-item routerLink="/carreras" class="item">Carreras</a>
          <a *ngIf="tipo=='Admin' || tipo=='Profesor'" mat-list-item routerLink="/materias" class="item">Materias</a>
          <a *ngIf="tipo=='Admin'" mat-list-item routerLink="/periodos" class="item">Periodos</a>
          <a mat-list-item routerLink="/cargaHoras" class="item">Carga de horas</a>
          

          <a mat-list-item (click)="salir()">Salir</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  <div *ngIf="usuario==null">
    <router-outlet></router-outlet>
  </div>
  <!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->