
<div *ngIf="usuario!=null" class="table big-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">FCEE</h1>
    </mat-toolbar>
    <mat-sidenav-container class="mediumContainer">
      <mat-sidenav  #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="side-nav">
          <a mat-list-item routerLink="/dashboard">Inicio</a>
          <a *ngIf="tipo==1" mat-list-item routerLink="/usuarios">Usuarios</a>
          <a *ngIf="tipo==1" mat-list-item routerLink="/carreras">Carreras</a>
          <a *ngIf="tipo==1" mat-list-item routerLink="/materias">Materias</a>

          <a mat-list-item (click)="salir()">Salir</a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
  <div *ngIf="usuario==null">
    <router-outlet></router-outlet>
  </div>
  <!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->