<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <img src="http://fcee.uccuyosj.edu.ar/images/ECONOMICAS.png"
                    style="width: 185px;" alt="logo">
                  <!-- <h4 class="mt-1 mb-5 pb-1">Bienvenido</h4> -->
                </div>
                  <br>
                <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
                  <p>Bienvenido, ingrese a su cuenta</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">DNI</label>
                    <input type="number" id="form2Example11" class="form-control"  formControlName="DNI"
                      placeholder="Ingrese su número de DNI" />
                    
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Contraseña</label>
                    <input  formControlName="password" type="password" id="form2Example22" class="form-control" />
                    
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <input class="submitButton btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"  type="submit" [disabled]="loginForm.invalid"/>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">¿No tienes cuenta?</p>
                    <a type="button" class=" btn btn-primary  gradient-custom-2" href="mailto:sec.economicas@uccuyo.edu.ar?subject=Sistema%20de%20control%20de%20horas&body=Con%20el%20presente%20correo%20electrónico%20le%20solicito%20la%20creación%20de%20un%20usuario%20para%20poder%20hacer%20uso%20de%20la%20plataforma.Nombre%20y%20apellido:_________.DNI:________">Solicita una</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h1 class="mb-4">Sistema de control de personal</h1>
                <p class="small mb-0">Bienvenido al sistema de control de peronal de la Facultad de Ciencias Económicas y Empresariales, llene el formulario con sus credenciales para poder
                   ingresar al sistema y poder acceder a todas la funcionalidades
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>