

<div class="filter">
  <mat-form-field class="input-filter">
    <input *ngIf="type=='usuario'" matInput (keyup)="applyFilter($event.target)" placeholder="Buscar {{type|titlecase }}s">
    <input *ngIf="type=='carrera'" matInput (keyup)="applyFilter($event.target)" placeholder="Buscar {{type|titlecase }}es">
    <input *ngIf="type=='materia'" matInput (keyup)="applyFilter($event.target)" placeholder="Buscar {{type|titlecase }}s">
    <input *ngIf="type=='periodo'" matInput (keyup)="applyFilter($event.target)" placeholder="Buscar {{type|titlecase }}s">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort"
    class="mat-elevation-z8">
    
    
  <!-- Position Column -->
  <ng-container *ngIf="type=='usuario'" matColumnDef="DNI">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
      DNI
    </th>
    <td mat-cell *matCellDef="let element"> {{element.DNI}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container *ngIf="type!='periodo'" matColumnDef="nombre">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Nombre
    </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  <ng-container *ngIf="type=='periodo'" matColumnDef="Fecha_str">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Fecha de inicio
    </th>
    <td mat-cell  *matCellDef="let element"> {{element.fecha_INI_formated}} </td>
  </ng-container>
  <ng-container *ngIf="type=='periodo'" matColumnDef="Fecha_fn">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Fecha de fin
    </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha_FIN_formated}} </td>
  </ng-container>
  <ng-container  *ngIf="type=='periodo'" matColumnDef="CantSemanas">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Cantidad de semanas
    </th>
    <td mat-cell *matCellDef="let element"> {{element.Cant_Semanas}} </td>
  </ng-container>
  <ng-container *ngIf="type=='materia'" matColumnDef="carrera">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header >
      Carrera
    </th>
    <td mat-cell *matCellDef="let element"> {{element.carrera}} </td>
  </ng-container>
  <ng-container *ngIf="type=='materia'"  matColumnDef="profesor">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header >
      Profesor
    </th>
    <td mat-cell *matCellDef="let element"> {{element.profesorNya}} </td>
  </ng-container>
  <ng-container *ngIf="type=='materia'"  matColumnDef="encargado">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header >
      Encargado
    </th>
    <td mat-cell *matCellDef="let element"> {{element.encargadoNya}} </td>
  </ng-container>
  <ng-container *ngIf="type=='materia'" matColumnDef="cantHoras">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header >
      Cant horas
    </th>
    <td mat-cell *matCellDef="let element"> {{element.cantHoras}} </td>
  </ng-container>
  <ng-container *ngIf="type=='usuario' ||  type=='carrera'" matColumnDef="apellido">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
      Apellido
    </th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>

  <ng-container *ngIf="type=='carrera'" matColumnDef="Sigla">
    <th mat-header-cell class="hide-arrow" *matHeaderCellDef  sortActionDescription="Sort by name">
      Sigla
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sigla}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container *ngIf="type=='usuario'"  matColumnDef="tipo">
    <th   mat-header-cell class="hide-arrow" *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
      Tipo
    </th>
    <ng-container *matCellDef="let element">
      <td mat-cell > {{element.tipo}} </td>
   
    </ng-container>
  </ng-container>
  <ng-container matColumnDef="Acciones">
    <th   mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" class="acciones"  >
        <a *ngIf="type=='carrera'"(click)="openDialog('Agregar',{})"><button   matTooltip="Crear una nueva facultad"  matTooltipPosition="above" type="button" class="btn btn-success ">Nueva {{type}}</button></a>
        <a *ngIf="type=='materia'"(click)="openDialog('Agregar',{})"><button   matTooltip="Crear una nueva materia"  matTooltipPosition="above" type="button" class="btn btn-success ">Nueva {{type}}</button></a>
        <a *ngIf="type=='periodo'"(click)="openDialog('Agregar',{})"><button   matTooltip="Crear un nuevo periodo"  matTooltipPosition="above" type="button" class="btn btn-success ">Nuevo {{type}}</button></a>
        <a *ngIf="type=='usuario'"(click)="openDialog('Agregar',{})"><button   matTooltip="Crear un nuevo usuario"  matTooltipPosition="above" type="button" class="btn btn-success ">Nuevo {{type}}</button></a>
      </button>
    </th>
    <td mat-cell *matCellDef="let element">
      <!-- <a ><button type="button" class="btn btn-success m-1 "><mat-icon aria-hidden="false" >visibility</mat-icon></button></a> -->
          <a *ngIf="type!='periodo'" (click)="openDialog('Editar',element)" ><button type="button" class="btn btn-primary m-1 action"><mat-icon aria-hidden="false" >edit</mat-icon></button></a>
         
          <a (click)="openDialog('Borrar',element)" ><button type="button" class="btn btn-danger m-1 action"><mat-icon aria-hidden="false" >delete</mat-icon></button></a>
          <a *ngIf="type=='materia'"   matTooltip="Editar equipo"  (click)="openDialogTeam('Editar Equipo',element)" ><button type="button" class="btn btn-success m-1 action"><mat-icon aria-hidden="false" >people</mat-icon></button></a>   
        </td>
          
  </ng-container>

  <!-- Symbol Column -->
  
  <ng-container *ngIf="type=='usuario'" matColumnDef="userColumns"> 
    <tr  mat-header-row *matHeaderRowDef="UserDisplayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: UserDisplayedColumns;"></tr>
  </ng-container> 
  <ng-container *ngIf="type=='carrera'" matColumnDef="userColumns"> 
    <tr  mat-header-row *matHeaderRowDef="CarreraDisplayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: CarreraDisplayedColumns;"></tr>
  </ng-container>
  <ng-container *ngIf="type=='materia'" matColumnDef="userColumns"> 
    <tr  mat-header-row *matHeaderRowDef="MateriasDisplayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: MateriasDisplayedColumns;"></tr>
  </ng-container> 
  <ng-container *ngIf="type=='periodo'" matColumnDef="userColumns"> 
    <tr  mat-header-row *matHeaderRowDef="PeriodosDisplayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: PeriodosDisplayedColumns;"></tr>
  </ng-container> 
  
</table>
