.center{
    display: block;
    margin: 0px auto;
    max-width: 100%
}
.mainSection{
    width: 100%;
    text-align: center;
}
.secondSection{
    display: block;
    width: 50%;
    margin: 0px auto;
    font-size:medium;
    line-height: 23px;
}
.titleas{
    /* background-color:red !important; */
    margin-bottom: 50px;
    font-size:large
}
